[package]
name = "node-attestation-server"
version = "0.1.0"
authors = ["Azure IoT Edge Devs"]
license = "MIT"
edition = "2021"

[dependencies]
async-trait = "0.1"
k8s-openapi = { version = "0.14.0", features = ["v1_20"] }
kube = { version = "0.69.0", features = ["runtime", "derive"] }
mock-kube = { path = "../../tests/mocks/kube", optional = true }
log = "0.4"
thiserror = "1.0"

catalog = { path = "../catalog" }
core-objects = { path = "../../common/core-objects" }
server-config = { path = "../config" }
svid-factory = { path = "../svid-factory" }

[dev-dependencies]
core-objects = { path = "../../common/core-objects", features = ["tests"] }
matches = "0.1.9"
tokio = { version = "1.12.0", features = ["rt", "macros", "time", "test-util"] }

key-manager = { path = "../key-manager" }
key-store = { path = "../key-store" }
mock-kube = { path = "../../tests/mocks/kube" }

[features]
tests = ["mock-kube"]


